# Node.js dependencies
/node_modules/

# Logs
logs
*.log
*.log.*

# Operating System files
.DS_Store
Thumbs.db

# VS Code specific
.vscode/

# Build output
/dist
/build

# Dependency directories
/bower_components/

# JetBrains IDEs
.idea/

# Mac specific files
.AppleDouble
.LSOverride

# Windows specific files
Thumbs.db
ehthumbs.db
